$gradient1: #1b6ca7;
$gradient2: #442bdb;
$gradient3: #89223b;
$gradient4: #9c791d;
$gradient5: #aa3e13;

$corTextoPrimaria: #fff;
$corTextoSecundaria: #000;

$corBotaoPrimario: #4f2ac3;



