$fontPrincipal: 'Dancing Script', serif;
$fontSecundaria: 'Happy Monkey', sans-serif;
$fontTerciaria: 'Dosis', sans-serif;

$corDeFundo: #152d35;

$corPrimaria: #215a6d;
$corSecundaria: #3ca2a2;
$corTerciaria: #92c7a3;

$corDeTextoPrimaria: #bbbbbb;
$corDeTextoSecundaria: #bdcccc;
$corDeTextoTerciaria: #9cb3b2;
$corDeTextoEscura: #152828;

$corBotaoPrimario: #3e7878;
$corBotaoSecundario: #52a0a0;
