.header {
    background-color: gray;
}

.perfil_avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.perfil_titulo, h2 {
    font-family: sans-serif;
    text-align: center;
    margin-top: 8px;
}

.h2 {
    padding-bottom: 16px;
}

.container {
    padding-top: 32px;
    margin: 0 auto;
    max-width: 1024px;
}